legend {
  color: #E0E3E6;
  font-weight: bold;  
  border-bottom: 1px solid  #eee;
  padding: 10px;
}

fieldset {

}

input, textarea, select {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none; 
}

.form-control {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

form label {
  padding: 5px 0;
  display: block;
  /*background-color: #f9f9f9;*/
}
.btn-upload {
  overflow: hidden;
}

input[type=file] {
  display: none;
}

.required {
  font-weight: bold;
  color: red;
}

.control-label {
  text-align: left!important;
}

.input-group {
  width: 100%;
}

.input-group-addon,
.input-group-btn {
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.input-group-addon {#31B404;
  width: 34px;
}



.has-error .checkbox, 
.has-error .checkbox-inline, 
.has-error .control-label, 
.has-error .help-block, 
.has-error .radio, 
.has-error .radio-inline, 
.has-error.checkbox label, 
.has-error.checkbox-inline label, 
.has-error.radio label, 
.has-error.radio-inline label {
    color: #f00;
}

.has-error .form-control {
  border-color: #f00;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


.has-success .checkbox, 
.has-success .checkbox-inline, 
.has-success .control-label, 
.has-success .help-block, 
.has-success .radio, 
.has-success .radio-inline, 
.has-success.checkbox label, 
.has-success.checkbox-inline label, 
.has-success.radio label, 
.has-success.radio-inline label {
    color: #31B404;
}

.has-success .form-control {
  border-color: #31B404;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}












.error-message {
    position: relative;
    background: #FED2D3;
    padding: 6px 12px;
    color: #f00;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    clear: both;

    transition: all 3s ease-in;
    -o-transition: all 3s ease-in;
    -moz-transition: all 3s ease-in;
    -webkit-transition: all 3s ease-in;
}

.error-message:before {
    position: absolute;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    width: .6em;
    height: .6em;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    background: #FED2D3;
    background-image: none;
    top: -4px;
}

.succes-message {
    position: relative;
    background: #D4FECC;
    padding: 6px 12px;
    color: #31B404;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    clear: both;

    transition: all 3s ease-in;
    -o-transition: all 3s ease-in;
    -moz-transition: all 3s ease-in;
    -webkit-transition: all 3s ease-in;
}

.succes-message:before {
    position: absolute;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    width: .6em;
    height: .6em;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    background: #D4FECC;
    background-image: none;
    top: -4px;
}


