.alert{
	margin: 15px 0px;
}

.cart-table thead th{
	padding: 10px;

}

table {
	empty-cells: 	show;
}


.fa {
  color: #f00;
}

.fa.fa-paper-plane,
.fa.fa-times,
.fa.fa-check,
.fa.fa-twitter,
.fa.fa-facebook,
.fa.fa-sign-in,
.fa.fa-trash {
  color: #fff;
}

.fixed-top {
  position: fixed;
}

.white {
  background: #fff;
}









