.alert{
	margin: 15px 0px;
}

.cart-table thead th{
	padding: 10px;

}

table {
	empty-cells: 	show;
}

.padding {
  padding: 50px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-83 {
  margin-top: 85px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.text-center {
  text-align: center!important;
}

.text-red {
  color: #FC9D9A;
}

.pull-rigth {
  float: right;
}

.clearfix {
  clear: both;
}






.fa {
  color: #297973;
}
.fa.fa-shopping-bag,
.fa.fa-cloud-upload,
.fa.fa-plus,
.fa.fa-paper-plane,
.fa.fa-times,
.fa.fa-check,
.fa.fa-twitter,
.fa.fa-facebook,
.fa.fa-sign-in,
.fa.fa-trash {
  color: #fff;
}

.fixed-top {
  position: fixed;
}

.white {
  background: #fff;
}

.thumbnail {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}











