.modal.in .modal-dialog {
z-index: 10000;
}

.modal-header,
.modal-footer{
  background: #3FB8AF;
  color: #fff;
}

.modal-header-red, 
.modal-footer-red {
  background: #FF6C60;
  color: #fff;
}

.modal-header-dark, 
.modal-footer-dark {
  background: #000;
  color: #fff;
}

.modal-header-white,
.modal-footer-white {
  background: #fff;
  color: #00bfff;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: none;
}

.modal-footer a {
  text-decoration: none;
  color: #fff;
}

.modal-footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}

.modal-backdrop {
	z-index: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=70);
  opacity: .7;
}

.modal.fade.in {
    background: rgba(0,0,0,.7);
}