@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url('jquery-ui.css');
@import url('jquery-ui.structure.css');
@import url('jquery-ui.theme.css');

@import url('buttons.css');
@import url('forms.css');
@import url('pager.css');
@import url('modal.css');

html {
  height: : 100%;
}

body {
  height: : 100%;
  font-family:Quicksand,sans-serif;
  background: #F2F2F2;
  border: none;
  color: #474843;
}

h1 {
  border-bottom: 4px solid #3FB8AF;
  color: #3b3b3b;
  display: inline-block;
  letter-spacing: 1px;
  padding-bottom: 10px;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #f00;
}

footer {
  background: gray;
}

img {
  max-width: 100% !important;
}

.checkbox, .radio {
  float: left;
}

.wrapper:before, .wrapper:after {
  display: table;
  content: " ";
}

.wrapper:after {
  clear: both;
}

.user-panel {
    padding: 10px;
}

.user-panel:before, .user-panel:after {
    display: table;
    content: " ";
}

.user-panel:after {
    clear: both;
}
.user-profile > .image > img,
.user-panel > .image > img {
    width: 45px;
    height: 45px;
}

.user-panel > .info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;
}

.user-profile > .info p {
    margin-left: 9px;
    line-height: 32px;
}

.user-panel > .info > p {
    margin-bottom: 9px;
}

.user-panel > .info > a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
    font-weight: normal;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
    margin-right: 5px;
}

.sidebar {
    margin-bottom: 5px;
}

.sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li {
    margin: 0;
    padding: 0;
    border-top: 1px dotted #FFFFFF;
}

.sidebar .sidebar-menu > li > a {
    padding: 15px;
    display: block;
}

.right-side, .left-side {
    min-height: 100%;
    display: block;
}

.left-side {
    position: absolute;
    width: 160px;
    top: 0;
    left: 0;
    min-height: 3961px;
}

.right-side {
    background-color: #f0f3f4;
    margin-left: 140px;
    margin-top: 30px;
}

.content {
    padding: 20px 15px;
    background: #F2F2F2;
    min-width: 300px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.jumbotron {
    background-color: #fff;
}

.navbar-right {
    width: 200px;
    float: right;
}

.navbar-right > li a {
    width: 220px;
}

.navbar-right > li a .fa {
    margin-right: 20px;
}

ul li button {
    margin: 4px;
}

.skin-orange .left-side {
    background: #3FB8AF;
}

.skin-orange .sidebar {
    border-bottom: 1px solid #FFFFFF;
}

.skin-orange .user-panel > .image > img {
    border: 1px solid #FFFFFF;
}

.skin-orange .user-panel > .info, .skin-orange .user-panel > .info > a {
    color: #fff;
}

.skin-orange .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #FFFFFF;
}

.skin-orange .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
    text-decoration: none;
}

.skin-orange .sidebar > .sidebar-menu > li > a:hover, 
.skin-orange .sidebar > .sidebar-menu > li.active > a {
    color: #297973;
    background: #fff;
}

.right-side .panel .panel-heading .files {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
    float: left;
}

.right-side .panel .panel-heading .files li{
    display: inline;
}

.skin-orange .sidebar > .sidebar-menu > li > a .fa {
    margin-right: 15px;
}

.skin-orange .user-settings > li > a {
    color: #297973;
    background: #fff;
}

.skin-orange .user-settings > li > a:hover {
    color: #fff;
    background: #3FB8AF;
}

.skin-orange .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 0px solid #FFFFFF;
}

.skin-orange .sidebar a {
    color: #fff;
}

.skin-orange .user-settings:after {
    bottom: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #fff;
    border-bottom-color: rgba(0, 0, 0, .075);
    border-width: 10px;
    margin-left: -10px;
}

@media screen and (min-width: 992px)
.left-side {
    top: 50px;
}

.dropdown-menu {
    border-radius: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .075);
}

.text-success {
    color: #65CBCB;
}

.text-red {
  color: #FF6C60;
}

#page-index {

}

.panel-heading {

}

#menu_show {
    background: red;
    z-index: 50;
    color: #000;
    text-decoration: none;
}

#menu_show i {
    background: #FFFFFF;
    z-index: 50;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

#crop-avatar div {
    text-align: center;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    border-top: 1px solid #eee;
}

.domicilio,
.telefono {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #eee;
    text-align: justify;
}

.domicilio p,
.telefono p {
    margin: 0;
}

.margin-top-15 {
  margin-top: 15px;
}

/**_____________________________________________________/



    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {
        .left-side {
          width: 80px;
        }

        .navbar-right > li a {
            width: 100%;
        }

        .right-side {
          margin-left: 65px;
        }

        .sidebar .sidebar-menu > li > a {
          padding: 15px 30px;
          font-size: 20px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
      
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }