@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url('jquery-ui.css');
@import url('jquery-ui.structure.css');
@import url('jquery-ui.theme.css');

@import url('flat-slider.css');
@import url('forms.css');
@import url('modal.css');
@import url('footer.css');

html {
	height: 100%;
}

body {
	height: 100%;
	font-family:Quicksand,sans-serif;
  padding-top: 90px;
  background: #fff;
}

h1 {
  border-bottom: 4px solid  #3FB8AF;
  color: #3b3b3b;
  display: inline-block;
  letter-spacing: 1px;
  padding-bottom: 10px;
  line-height: 40px;
}

section {
  background: #fff;
}


#slider img {
  width: 100%;
  height: auto;
}

#catalogos .nav-tabs {
  padding: 15px;
  border: none;
}

#catalogos .content {
  position: relative;
}

.catalogo {
  position: relative;
}

.catalogo figure {
  width: 100%;
  height: auto;
  max-width: 255px;
  max-height: 330px;
  overflow: hidden;
  position: relative; 
  padding: 0;
  margin: 15px;
}

.catalogo figure img {
  width: 100%;
  transition: all 0.2s linear;
}

.socio .overlay,
.catalogo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 255px;
  height: 330px;

  opacity: 0;
  background-color: rgba(0,0,0,.7);
  transition: all 0.3s ease-in-out;
}

.socio .overlay {
  width: 250px;
  height: 250px;
}

.catalogo:hover img {
  transform: scale(1.1);
}

.socio:hover .overlay,
.catalogo:hover .overlay {
  opacity: 1;
}


.catalogo .overlay ul {
  padding: 45px;
  margin: auto;
    
    position: absolute;

}

.catalogo .overlay ul li {
  display: inline-block;
  float: left;
}

.catalogo .overlay ul li a {
  margin: 15px;
}

.catalogo .overlay ul li button {
   margin: 15px;
}



#slider-marcas .item{
  background: #f9f9f9;
  margin: 5px;
  text-align: center;
}

#slider-marcas .item a {
    height: 80px;
    background: url(../admin/images/marcas/marca.jpg);
    display: block;
    width: 100%;
}









#filter {
  padding: 15px 0;
  background-color: #f0eff1;
  margin-bottom: 30px;
}

#filter-bar {
  background: #f0eff1;
  height: auto;
}

#filter-bar h3{
  text-align: center;
  background:  #3FB8AF;
  color: #fff;
  padding: 5px 0;
}

#filter-bar .filters,
#filter-bar .categories {
  border: 1px solid #ccc;
  background: #fff;
  margin: 15px 0;
  padding: 15px;
}

#filter-bar nav ul{
  padding: 0;
}

#filter-bar nav ul li{
  list-style-type: none;
}

#filter-bar nav ul li a{
  color:  #000;;
  display: block;
  text-decoration: none;
  padding: 5px 0;
}

#filter-bar nav.categories ul li ul li a:hover,
#filter-bar nav.categories ul li ul li a:focus{
  text-decoration: none;
  font-weight: bold;
  color: #FC9D9A;
}

#filter-bar nav.categories ul li ul li a{
  text-decoration: none;
  color: #000;
}

#filter-bar nav ul li span{
  font-weight: bold;
  font-size: 18px;
}


#filter-bar nav.filters{
  
}

#filter-bar nav.filters ul{}

#filter-bar nav.filters ul li{}

#filter-bar nav.filters ul li a{
  
}

#filter-bar nav.filters ul li ul li {
  display: inline-block;
}

#filter-bar nav.filters ul li ul li a{
  background: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  width: 33px;
  height: 23px;
  border: 1px solid #CCCCCC;
  color: #7E8B98;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

#filter-bar nav.filters ul li ul.colors li a{
  text-decoration: none;
  display: inline-block;
  padding: 0;
  border: 1px solid #aaa;
  margin-bottom: 3px;
}

#filter-bar nav.filters ul li ul.colors li a img{
  display: inline-block;
  width: 33px;
  height: 23px;
}

.popularity i{
  color: pink;
}

#filter-bar nav.filters ul li span{}

#filter-bar nav.remove-filters{}

#filter-bar nav.remove-filters ul{}

#filter-bar nav.remove-filters ul li {}

#filter-bar nav.remove-filters ul li a{
  color: #000;
}












/*  Productos */
#catalog {
}

#catalog .item {
}

#catalog .item figure {
  padding: 0;
}

#catalog .item figure img {
	width: 100%;
	height: auto;
}

#catalog .item figure figcaption {
	text-align: center;
}

#catalog .item figure figcaption .name {
  color: #000;
  font-weight: bolder;
  margin: 0;
}

#catalog .item figure figcaption .price {
	width: 100%;
  color: #FC9D9A;
}

#catalog .item figure .overlay {
  background: rgba(0,0,0,.7);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s;
    opacity: 0;
}

#catalog .item figure .overlay:hover {
    opacity: 1;
}

#catalog .item ul{
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 50% 15%;
}

#catalog .item ul li{
	list-style-type: none;
	float: left;
	width: 50%;
	text-align: center;
}

#catalog .item .fa.fa-shopping-cart {
  color: #fff;
}

/* Paginacion */

.pagination {
  margin: 0 15px;
}

.pagination li {
  
}

.pagination li a{
  border: none;
  color: #333333;
}

.pagination li a:hover {
  background:  #3FB8AF;
  color: #fff;
}





/* CONTACTO */

#gmap {
  overflow:hidden;
  height:300px;
  width:100%;
}

#gmap_canvas img{
  max-width:none!important;
  background:none!important;
}

#info-contacto {

}

#info-contacto ul {
  
}

#info-contacto ul li {
  list-style-type: none;
}

#info-contacto ul li .icon .fa{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#info-contacto ul li .text {
  font-size: 18px;
  color: #A4A4A4;
  font-weight: bold;
}








/*  CARRITO   */
#shopping-cart{
  font-size: 1em;
  text-align: center!important;
  padding: 30px 0;
}
#shopping-cart .header-table{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f0eff1;
  margin-top: 20px;
  margin-bottom: 20px;
}
#shopping-cart h4{
  font-weight: bold;
  margin-top: 0;
}
#shopping-cart article {}
#shopping-cart article figure{}
#shopping-cart article figcaption{}
#shopping-cart article figcaption h4{}
#shopping-cart article img{
  width: 75px;
  margin: 0 auto;
}

#shopping-cart span {
  display: block;
}

.padding-0 {
    padding: 0;
}




















.sidebar {
    margin-bottom: 5px;
}

.sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li {
    margin: 0;
    padding: 0;
    border-top: 1px dotted #FFBE64;
}

.sidebar .sidebar-menu > li > a {
    padding: 15px 25px;
    display: block;
}

.right-side, .left-side {
    min-height: 100%;
    display: block;
}

.left-side {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    min-height: 3961px;
}

.right-side {
    background-color: #f0f3f4;
    margin-left: 300px;
}

/* Producto */
#producto {
  padding-top: 20px;
  padding-bottom: 20px;
}

#producto .color-selected {
  
}

#producto .color-selected img {
  width: 100%;
  height: auto;
}

#producto ul {
  padding: 0;
}

#producto .colors li {
  list-style-type: none;

  float: left;
}

#producto .colors li img {
  width: 100%;
  height: auto;
}

#producto ul.colors li a {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  border: 1px solid #aaa;
  margin: 5px;
}

#producto nav.filters ul li {
  list-style-type: none;
}

#producto nav.filters ul li label,
#producto nav.filters ul li a {
  background: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  width: 33px;
  height: 23px;
  border: 1px solid #CCCCCC;
  color: #7E8B98;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  float: left;
}

#producto nav.filters ul li input {
  display: none;
}

#producto h3 {
  font-weight: bolder;
}

#producto .code {
  color: #FC9D9A;
  padding: 20px 0;
}

#producto .price {
  color: #FC9D9A;
  font-size: 2.5em;
  font-weight: bolder;
  padding: 30px 0;
}

#map {
  width: 100%;
  height: auto;
}

.black {
  color: #fff;
  background: #000;
}

#error-page {/*
  margin-top: 180px;
  margin-bottom: 180px;
  */
  margin-top: 10%;
  margin-bottom: 10%;
}


#terminos {

}

#terminos p {
  padding: 10px 20px;
  text-align: justify;
}

#terminos h3 {
  font-weight: bolder;
}


.dropdown-menu {
    padding: 0;
}
/*


#EF746F

#FC9D9A

#2FB8AC
#027B7F


#00A0B0
#F6F6F6
#E8E8E8
#333333
#3FB8AF
#c0c0c0

#8f8f8f



#FC9D9A
#FFC2C0


#69D0B4
#97E6D0
*/

















