    <section id="slider">
      <div id="owl-demo" class="owl-carousel">
        <div class="item"><a href="#"><img src="admin/images/slider/slider01.jpg"></a></div>
        <div class="item"><a href="#"><img src="admin/images/slider/slider01.jpg"></a></div>
        <div class="item"><a href="#"><img src="admin/images/slider/slider01.jpg"></a></div>
      </div>
    </section>

    <section id="catalogos" class="container">
      <h1>Catálogos</h1>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#dama">Dama <i class="fa fa-chevron-down"></i></a></li>
        <li><a data-toggle="tab" href="#caballero">Caballero <i class="fa fa-chevron-down"></i></a></li>
        <li><a data-toggle="tab" href="#infantil">Infantil <i class="fa fa-chevron-down"></i></a></li>
        <li><a data-toggle="tab" href="#especial">Especial <i class="fa fa-chevron-down"></i></a></li>
      </ul>

      <div class="tab-content">
        <div id="dama" class="tab-pane fade in active">
          <div class="container-fluid">
            <div class="row content">
              <div class="catalogo">
                <figure class="col-xs-12 col-sm-4 col-md-3">
                  <img src="admin/images/catalogos/catalogo_1.jpg" alt="Catalogo 1"/>
                  <div class="overlay">
                    <ul>
                      <li>
                        <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                      </li>
                      <li>
                        <button type="button" class="btn btn-lg btn-red"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button>
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="catalogo">
                <figure class="col-xs-12 col-sm-4 col-md-3">
                  <img src="admin/images/catalogos/catalogo_2.jpg" alt="Catalogo 2"/>
                  <div class="overlay">
                    <ul>
                      <li>
                        <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                      </li>
                      <li>
                        <button type="button" class="btn btn-lg btn-red"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button>
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="catalogo">
                <figure class="col-xs-12 col-sm-4 col-md-3">
                  <img src="admin/images/catalogos/catalogo_3.jpg" alt="Catalogo 3"/>
                  <div class="overlay">
                    <ul>
                      <li>
                        <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                      </li>
                      <li>
                        <button type="button" class="btn btn-lg btn-red"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button>
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="catalogo">
                <figure class="col-xs-12 col-sm-4 col-md-3">
                  <img src="admin/images/catalogos/catalogo_4.jpg" alt="Catalogo 4"/>
                  <div class="overlay">
                    <ul>
                      <li>
                        <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                      </li>
                      <li>
                        <button type="button" class="btn btn-lg btn-red"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button>
                      </li>
                    </ul>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div id="caballero" class="tab-pane fade">
          <div class="container-fluid">
            <h3>0 resultados</h3>
          </div>
        </div>
        <div id="infantil" class="tab-pane fade">
          <div class="container-fluid">
            <h3>0 resultados</h3>
          </div>
        </div>
        <div id="espedial" class="tab-pane fade">
          <div class="container-fluid">
            <h3>0 resultados</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <h1>Marcas</h1>
      <div id="slider-marcas" class="owl-carousel owl-theme">
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
      </div>
    </section>