    <section id="slider">
      <div id="owl-demo" class="owl-carousel">
        <div class="item"><a href="#"><img src="admin/images/slider/slider01.jpg"></a></div>
        <div class="item"><a href="#"><img src="admin/images/slider/slider01.jpg"></a></div>
        <div class="item"><a href="#"><img src="admin/images/slider/slider01.jpg"></a></div>
      </div>
    </section>

    <section id="catalogos" class="container">
      <h1>Catálogos</h1>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#dama">Dama</a></li>
        <li><a data-toggle="tab" href="#caballero">Caballero</a></li>
        <li><a data-toggle="tab" href="#infantil">Infantil</a></li>
        <li><a data-toggle="tab" href="#especial">Especial</a></li>
      </ul>

      <div class="tab-content">
        <div id="dama" class="tab-pane fade in active">
          <div class="container-fluid">
            <div class="row">
              <a class="catalogo" href="admin/catalogos/Sandalias.pdf" target="_blank">
                <figure class="col-sm-6 col-md-2">
                  <img src="admin/images/catalogos/catalogo_1.jpg" alt="Catalogo 1"/>
                  <figcaption>Sandalias</figcaption>
                </figure>
              </a>
              <a class="catalogo" href="admin/catalogos/Sandalias.pdf" target="_blank">
                <figure class="col-sm-6 col-md-2">
                  <img src="admin/images/catalogos/catalogo_2.jpg" alt="Catalogo 2"/>
                  <figcaption>Sandalias</figcaption>
                </figure>
              </a>
              <a class="catalogo" href="admin/catalogos/Sandalias.pdf" target="_blank">
                <figure class="col-sm-6 col-md-2">
                  <img src="admin/images/catalogos/catalogo_3.jpg" alt="Catalogo 3"/>
                  <figcaption>Sandalias</figcaption>
                </figure>
              </a>
              <a class="catalogo" href="admin/catalogos/Sandalias.pdf" target="_blank">
                <figure class="col-sm-6 col-md-2">
                  <img src="admin/images/catalogos/catalogo_4.jpg" alt="Catalogo 4"/>
                  <figcaption>Sandalias</figcaption>
                </figure>
              </a>
              <a class="catalogo" href="admin/catalogos/Sandalias.pdf" target="_blank">
                <figure class="col-sm-6 col-md-2">
                  <img src="admin/images/catalogos/catalogo_5.jpg" alt="Catalogo 5"/>
                  <figcaption>Sandalias</figcaption>
                </figure>
              </a>
              <a class="catalogo" href="admin/catalogos/Sandalias.pdf" target="_blank">
                <figure class="col-sm-6 col-md-2">
                  <img src="admin/images/catalogos/catalogo_7.jpg" alt="Catalogo 6"/>
                  <figcaption>Sandalias</figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
        <div id="caballero" class="tab-pane fade">
          <div class="container-fluid">
            <h3>0 resultados</h3>
          </div>
        </div>
        <div id="infantil" class="tab-pane fade">
          <div class="container-fluid">
            <h3>0 resultados</h3>
          </div>
        </div>
        <div id="espedial" class="tab-pane fade">
          <div class="container-fluid">
            <h3>0 resultados</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <h1>Marcas</h1>
      <div id="slider-marcas" class="owl-carousel owl-theme">
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
        <div class="item"><a href="#"></a></div>
      </div>
    </section>