
<div class="container-navbar-full navbar-fixed-top">
  <nav class="navbar navbar-default container navbar-full no-shadow" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn-red collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs hidden-sm" href="#"><img id="logo-small" src="img/logo.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="active" href="index.php">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="index.php?ctrl=productos&action=list" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dama <i class="fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="index.php?ctrl=productos&action=list&category=zapatilla">Zapatilla</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=bota">Bota</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=sandalia">Sandalia</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=flat">Flat</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=deportivo">Deportivo</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=pantunfla">Pantunfla</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="index.php?ctrl=productos&action=list" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Caballero <i class="fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="index.php?ctrl=productos&action=list&category=bota">Bota</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=sandalia">Sandalia</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=deportivo">Deportivo</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=pantunfla">Pantunfla</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="index.php?ctrl=productos&action=list" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Infantil <i class="fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="index.php?ctrl=productos&action=list&category=zapatilla">Zapatilla</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=bota">Bota</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=sandalia">Sandalia</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=flat">Flat</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=deportivo">Deportivo</a></li>
            <li><a href="index.php?ctrl=productos&action=list&category=pantunfla">Pantunfla</a></li>
          </ul>
        </li>
        <li><a href="index.php?ctrl=contacto">Contacto</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" title="My Account" class="icons" data-toggle="modal" data-target="#modalLogin"><i class="fa fa-user"></i> Mi cuenta</a></li>
        <li>
          <a href="#" class="dropdown-toggle icons" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart"></i> Mi carrito
          </a>
          <ul class="dropdown-menu">
            <li><a href="index.php?ctrl=shopping-cart&action=list">$ 0.00 </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-header-dark">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Iniciar sesión</h4>
        </div>
        <div class="modal-body">
          <div class="login">
            <form role="form" onsubmit="return validateLogin()" data-validate-login>
              <div>
                <div class="form-group">
                  <label>Usuario</label>
                  <input type="text" class="form-control" placeholder="Email" data-required data-email/>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" placeholder="Password" data-required data-password/>
                </div>
              </div>
  
              <button class="btn btn-red btn-lg btn-block" type="submit">
                <i class="fa fa-sign-in"></i> Enviar
              </button>
              <a href="https://www.facebook.com/" target="_blank" class="btn btn-lg btn-block btn-facebook"> <i class="fa fa-facebook"></i> Facebook</a>
              <a href="https://twitter.com/" target="_blank" class="btn btn-lg btn-block btn-twitter"> <i class="fa fa-twitter"></i> Twitter</a>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> No cerrar sesión
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer modal-footer-dark">
          <a href="index.php?ctrl=usuario&action=recuperar" class="btn btn-link">Recuperar contraseña</a>
          <a href="index.php?ctrl=usuario&action=registro" class="btn btn-link pull-right">Nueva cuenta</a>
        </div>
      </div>
    </div>
  </div>
</div>


