
  <div class="container height-80 padding">
  	<form class="form-horizontal col-lg-7" method="post" role="form" onsubmit="return validate()" data-validate>
      <fieldset>
        <legend><span class="btn-info">Recovery password (Step 3)</span></legend>
        <div class="form-group padding-left-15">
          <p>Introduce your credentials.</p>
        </div>

        <div class="form-group">
          <label for="newpassword" class="col-lg-2 control-label text-left">New Password </label>
          <div class="col-lg-10">
            <input class="form-control" type="password" name="newpassword" placeholder="New Password" data-password data-samepassword/>
          </div>
        </div>

        <div class="form-group">
          <label type="Confirmpass" class="col-lg-2 control-label text-left">Confirm password</label>
          <div class="col-lg-10">
            <input class="form-control" type="password" name="Confirmpass" placeholder="Confirm Passsword" data-password data-samepassword/>
          </div>
        </div>

      	<div class="form-group padding-left-15">
          <button class="btn btn-orange" type="submit"><i class="fa fa-check"></i> Save </button>
        </div>
      </fieldset>
  	</form>
  </div>