<div class="container-fluid">
  <aside id="filter-bar" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    <h3>Categorias</h3>
    <nav class="categories">
      <ul>
        <li>
          <ul>
            <!--subcategoria-->
            <li><a href="{{subcategoria_url}}">{{subcategoria}}</a></li>
            <!--.subcategoria--> 
          </ul>
        </li>
      </ul>
    </nav>
    <h3>Filtros</h3>
    <nav class="filters">
      <ul>
        <!--filtro-->
        <li><a href="{{filtro_url}}"><span class="btn btn-red"><i class="fa fa-trash"></i></span> {{filtro}}: {{valor}}</a></li>
        <!--.filtro-->
      </ul>
    </nav>
    <a href="index.php?ctrl=productos&action=list" class="btn btn-red btn-lg btn-block">Eliminar filtros</a>
    <h3>Colores</h3>
    <nav class="filters">
      <ul>
        <li>
          <ul class="colors">
            <!--color-->
            <li><a href="{{color_url}}"><img src="{{color_imagen}}" alt="{{color_nombre}}" data-toggle="tooltip" title="{{color_nombre}}"/></a></li>
            <!--.color-->
          </ul>
        </li>
      </ul>
    </nav>
    <!--
    <h3>Precios</h3>
    <div class="filters">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-6">
            <input type="number" class="form-control" id="inf" step="1" min="0" max="1199" placeholder="0"/>
          </div>
          <div class="col-xs-6">
            <input type="number" class="form-control" id="sup" step="1" min="1"  max="1200" placeholder="1000"/>
          </div>
        </div>
      </div>
      <div class="flat-slider" id="flat-slider"></div>
    </div>-->
  </aside>
  <section id="catalog" class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
    <section id="filter" class="row">
      <div class="pull-rigth">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">></a></li>
        </ul>
      </div>
    </section>

    <!--producto-->
    <article class="item">
      <figure class="col-sm-4 col-md-3 col-lg-2">
        <img src="{{image}}" alt="{{nombre}}"/>
        <figcaption>
          <h4 class="name">{{nombre}}</h4>
          <p class="price">${{precio}}</p>
        </figcaption>
        <div class="overlay">
          <ul>
            <li>
              <a class="btn btn-lg btn-red" href="{{url_producto}}" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
            </li>
            <li>
              <a class="btn btn-lg btn-red" href="{{url_shopping_cart}}" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            </li>
          </ul>
        </div>
      </figure>
    </article>
    <!--.producto-->
    
  </section>
</div>