<div class="container">
  <section id="producto" class="row">
    <div class="col-xs-12 col-sm-5">
      <figure class="color-selected">
        <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
      </figure>
      <h3 class="text-red">Colores</h3>
      <ul class="colors">
        <li>
          <a href="#">
            <figure class="color">
              <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
            </figure>
          </a>
        </li>
        <li>
          <a href="#">
            <figure class="color">
              <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
            </figure>
          </a>
        </li>
        <li>
          <a href="#">
            <figure class="color">
              <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
            </figure>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-7">
      <h3>Zapatilla Mary Jane</h3>
      <p class="code"><strong>Cod:</strong> 123456789 <span><strong>Mod:</strong> 1234</span></p>
      <p class="description"><strong>Descripcion:</strong> Zapatilla con plataforma, aplicacion de pedrería tacón delgado y ajuste de pulcera con hebilla al frente.</p>
      <p><strong>Color:</strong> Negro</p>
      <p><strong>Material:</strong> Piel</p>
      <p><strong>Altura:</strong> 11cm</p>
      <p><strong>Marca:</strong> Nike</p>
      <nav class="filters">
        <p><strong>Talla:</strong> </p>
        <ul class="sizes">
          <li><a href="#">21</a></li>
          <li><a href="#">21.5</a></li>
          <li><a href="#">22</a></li>
          <li><a href="#">22.5</a></li>
          <li><a href="#">23</a></li>
          <li><a href="#">23.5</a></li>
          <li><a href="#">24</a></li>
          <li><a href="#">24.5</a></li>
          <li><a href="#">25</a></li>
          <li><a href="#">25.5</a></li>
          <li><a href="#">26</a></li>
          <li><a href="#">26.5</a></li>
          <li><a href="#">27</a></li>
          <li><a href="#">27.5</a></li>
          <li><a href="#">28</a></li>
          <li><a href="#">28.5</a></li>
        </ul>
      </nav>
      <p class="price pull-right">$419.00</p>
      <button href="#" class="btn btn-red btn-lg btn-block"><i class="fa fa-check"></i> Comprar</button>
    </div>
  </section>
</div>