<div class="container">
  <section id="producto" class="row">
    <div class="col-xs-12 col-sm-5">
      <figure class="color-selected"> 
        <img src="{{image}}" alt="{{nombre}}"/>
      </figure>
      <h3 class="text-red">Colores</h3>
      <ul class="colors">
        <!--color-->
        <li>
          <a href="{{color_url}}">
            <figure class="color">
              <img src="{{color_imagen}}" alt="{{color_nombre}}" data-toggle="tooltip" title="{{color_nombre}}"/>
            </figure>
          </a>
        </li>
        <!--.color-->
      </ul>
    </div>
    <div class="col-xs-12 col-sm-7">
      <h3>{{nombre}}</h3>
      <p class="code"><strong>Cod:</strong> {{codigo}} <span><strong>Mod:</strong> {{modelo}}</span></p>
      <p class="description"><strong>Descripcion:</strong> {{descripcion}}</p>
      <p><strong>Color:</strong> {{color}}</p>
      <p><strong>Material:</strong> {{material}}</p>
      <p><strong>Altura:</strong> {{altura}}cm</p>
      <p><strong>Marca:</strong> {{marca}}</p>


      

      <nav class="filters">
        <p><strong>Tallas:</strong> </p>
        <ul class="sizes">
          <!--talla-->
          <li>
            <div class="checkbox" for="{{talla_id}}">
              <label>
                {{talla}}
                <input id="{{talla_id}}" type="radio" value="{{talla_id}}">
              </label>
            </div>
          <!--.talla-->
        </ul>
      </nav>
      <p class="price pull-right">${{precio}}</p>
      <button href="#" class="btn btn-red btn-lg btn-block"><i class="fa fa-check"></i> Comprar</button>
    </div>
  </section>
</div>