<div class="container-fluid">
  <aside id="filter-bar" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    <h3>Categorias</h3>
    <nav class="categories">
      <ul>
        <li>
          <ul class="categories">
            <li><a href="#">Zapatilla</a></li>
            <li><a href="#">Bota</a></li>
            <li><a href="#">Sandalia</a></li>
            <li><a href="#">Flat</a></li>
            <li><a href="#">Deportivo</a></li>
            <li><a href="#">Pantunfla</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <h3>Filtros</h3>
    <nav class="remove-filters">
      <ul>
        <li><a href="#"><span class="btn btn-red"><i class="fa fa-trash"></i></span> Color: ficsia</a></li>
        <li><a href="#"><span class="btn btn-red"><i class="fa fa-trash"></i></span> Talla: 22.5</a></li>
      </ul>
    </nav>
    <button class="btn btn-gray btn-lg btn-block">Eliminar filtros</button>
    <h3>Tallas</h3>
    <nav class="filters">
      <ul>
        <li>
          <ul class="sizes">
            <li><a href="#">21</a></li>
            <li><a href="#">21.5</a></li>
            <li><a href="#">22</a></li>
            <li><a href="#">22.5</a></li>
            <li><a href="#">23</a></li>
            <li><a href="#">23.5</a></li>
            <li><a href="#">24</a></li>
            <li><a href="#">24.5</a></li>
            <li><a href="#">25</a></li>
            <li><a href="#">25.5</a></li>
            <li><a href="#">26</a></li>
            <li><a href="#">26.5</a></li>
            <li><a href="#">27</a></li>
            <li><a href="#">27.5</a></li>
            <li><a href="#">28</a></li>
            <li><a href="#">28.5</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <h3>Colores</h3>
    <nav class="filters">
      <ul>
        <li>
          <ul class="colors">
            <li><a href="#"><img src="admin/images/colores/yellow.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/red.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/green.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/sky-blue.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/black.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/white.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/pink.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/purple.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/cyan.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/orange.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/fucsia.png"/></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <h3>Precios</h3>
    <nav class="filters">
      <ul>
        <li><a href="#">$0 - $100</a></li>
        <li><a href="#">$100 - $200</a></li>
        <li><a href="#">$200 - $300</a></li>
        <li><a href="#">$300 - $400</a></li>
        <li><a href="#">$400 - $500</a></li>
        <li><a href="#">$500 - $1000</a></li>
      </ul>
    </nav>
  </aside>
  <section id="catalog" class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
    <section id="filter" class="row">
      <div class="pull-rigth">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">></a></li>
        </ul>
      </div>
    </section>
    <article class="item col-sm-3">
      <a href="index.php?ctrl=productos&action=show&id=1">
        <figure>
          <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
          <figcaption>
            <h4 class="name">Zapatilla Mary Jane</h4>
            <p class="price">$49.50</p>
          </figcaption>
        </figure>
      </a>
      <button href="#" class="btn btn-dark btn-lg btn-block"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm">Comprar</span></button>
    </article>

    <article class="item col-sm-3">
      <a href="index.php?ctrl=productos&action=show&id=1">
        <figure>
          <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
          <figcaption>
            <h4 class="name">Zapatilla Mary Jane</h4>
            <p class="price">$49.50</p>
          </figcaption>
        </figure>
      </a>
      <button href="index.php?ctrl=productos&action=show&id=1" class="btn btn-dark btn-lg btn-block"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm">Comprar</span></button>
    </article>

    <article class="item col-sm-3">
      <a href="#">
        <figure>
          <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
          <figcaption>
            <h4 class="name">Zapatilla Mary Jane</h4>
            <p class="price">$49.50</p>
          </figcaption>
        </figure>
      </a>
      <button href="index.php?ctrl=productos&action=show&id=1" class="btn btn-dark btn-lg btn-block"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm">Comprar</span></button>
    </article>

    <article class="item col-sm-3">
      <a href="#">
        <figure>
          <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
          <figcaption>
            <h4 class="name">Zapatilla Mary Jane</h4>
            <p class="price">$49.50</p>
          </figcaption>
        </figure>
      </a>
      <button href="#" class="btn btn-dark btn-lg btn-block"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm">Comprar</span></button>
    </article>
  </section>
</div>