<div class="container-fluid">
  <aside id="filter-bar" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    <h3>Categorias</h3>
    <nav class="categories">
      <ul>
        <li>
          <ul>
            <li><a href="#">Zapatilla</a></li>
            <li><a href="#">Bota</a></li>
            <li><a href="#">Sandalia</a></li>
            <li><a href="#">Flat</a></li>
            <li><a href="#">Deportivo</a></li>
            <li><a href="#">Pantunfla</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <h3>Filtros</h3>
    <nav class="filters">
      <ul>
        <li><a href="#"><span class="btn btn-red"><i class="fa fa-trash"></i></span> Color: ficsia</a></li>
        <li><a href="#"><span class="btn btn-red"><i class="fa fa-trash"></i></span> Talla: 22.5</a></li>
      </ul>
    </nav>
    <button class="btn btn-red btn-lg btn-block">Eliminar filtros</button>
    <h3>Tallas</h3>
    <nav class="filters">
      <ul>
        <li>
          <ul class="sizes">
            <li><a href="#">21</a></li>
            <li><a href="#">21.5</a></li>
            <li><a href="#">22</a></li>
            <li><a href="#">22.5</a></li>
            <li><a href="#">23</a></li>
            <li><a href="#">23.5</a></li>
            <li><a href="#">24</a></li>
            <li><a href="#">24.5</a></li>
            <li><a href="#">25</a></li>
            <li><a href="#">25.5</a></li>
            <li><a href="#">26</a></li>
            <li><a href="#">26.5</a></li>
            <li><a href="#">27</a></li>
            <li><a href="#">27.5</a></li>
            <li><a href="#">28</a></li>
            <li><a href="#">28.5</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <h3>Colores</h3>
    <nav class="filters">
      <ul>
        <li>
          <ul class="colors">
            <li><a href="#"><img src="admin/images/colores/yellow.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/red.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/green.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/sky-blue.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/black.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/white.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/pink.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/purple.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/cyan.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/orange.png"/></a></li>
            <li><a href="#"><img src="admin/images/colores/fucsia.png"/></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <h3>Precios</h3>
    <div class="filters">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-6">
            <input type="number" class="form-control" id="inf" step="1" min="0" max="1000" placeholder="0"/>
          </div>
          <div class="col-xs-6">
            <input type="number" class="form-control" id="sup" step="1" min="0"  max="1000" placeholder="1000"/>
          </div>
        </div>
      </div>
      <div class="flat-slider" id="flat-slider"></div>
    </div>
  </aside>
  <section id="catalog" class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
    <section id="filter" class="row">
      <div class="pull-rigth">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">></a></li>
        </ul>
      </div>
    </section>


    <article class="item">
      <figure class="col-sm-4 col-md-3">
        <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
        <figcaption>
          <h4 class="name">Zapatilla Mary Jane</h4>
          <p class="price">$49.50</p>
        </figcaption>
        <div class="overlay">
          <ul>
            <li>
              <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
            </li>
            <li>
              <a class="btn btn-lg btn-red" href="index.php?ctrl=shopping-cart&action=list" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            </li>
          </ul>
        </div>
      </figure>
    </article>

    <article class="item">
      <figure class="col-sm-4 col-md-3">
        <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
        <figcaption>
          <h4 class="name">Zapatilla Mary Jane</h4>
          <p class="price">$49.50</p>
        </figcaption>
        <div class="overlay">
          <ul>
            <li>
              <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
            </li>
            <li>
              <a class="btn btn-lg btn-red" href="index.php?ctrl=shopping-cart&action=list" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            </li>
          </ul>
        </div>
      </figure>
    </article>

    <article class="item">
      <figure class="col-sm-4 col-md-3">
        <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
        <figcaption>
          <h4 class="name">Zapatilla Mary Jane</h4>
          <p class="price">$49.50</p>
        </figcaption>
        <div class="overlay">
          <ul>
            <li>
              <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
            </li>
            <li>
              <a class="btn btn-lg btn-red" href="index.php?ctrl=shopping-cart&action=list" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            </li>
          </ul>
        </div>
      </figure>
    </article>

    <article class="item">
      <figure class="col-sm-4 col-md-3">
        <img src="admin/images/dama/zapatillas/d766ab38778043d50626aba76f46d78d.jpg" alt="article 1"/>
        <figcaption>
          <h4 class="name">Zapatilla Mary Jane</h4>
          <p class="price">$49.50</p>
        </figcaption>
        <div class="overlay" style="display:none">
          <ul>
            <li>
              <a class="btn btn-lg btn-red" href="admin/catalogos/Sandalias.pdf" target="_blank"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
            </li>
            <li>
              <a class="btn btn-lg btn-red" href="index.php?ctrl=shopping-cart&action=list" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            </li>
          </ul>
        </div>
      </figure>
    </article>







    

    
  </section>
</div>