<div class="container-fluid">
  <section id="shopping-cart">
		<form class="form" method="post" >
			<fieldset> 
        <legend>Mi carrito</legend>
				<div class="row header-table">
          <div class="col-sm-3 hidden-xs">
            <h4>Producto</h4>
          </div>
          <div class="col-sm-2 hidden-xs">
            <h4>Cantidad</h4>
          </div>
          <div class="col-sm-2 hidden-xs">
            <h4>Precio</h4>
          </div>
          <div class="col-sm-3 hidden-xs">
            <h4>Sub-total</h4>
          </div>
          <div class="col-sm-2 hidden-xs">
          </div>   
        </div>

        <!--producto-->
        <div class="row">
          <div class="col-sm-3">
          <input type="hidden" name="producto_id" value="{{id}}"/>
          <article>
            <figure>
              <figcaption>
                <h4 class="name">{{nombre}}</h4>
              </figcaption>
              <img src="{{image}}" alt="{{nombre}}"/>
            </figure>
          </article>
          
          </div>
          <div class="col-sm-2">
            <span class="price">Piezas</span>
            <input type="number" class="form-control" min="0" step="1" value="{{cantidad}}" />
          </div>
          <div class="col-sm-2">
            <span>{{precio}}</span>
          </div>
          <div class="col-sm-3">
            <span>{{subtotal}}</span>
          </div>   
          <div class="col-sm-2">
            <button class="btn btn-red"><i class="fa fa-trash"></i></button>
          </div>   
        </div>
        <!--.producto-->


        <div class="row header-table">   
        </div>
        <div class="row">
          <div class="col-sm-offset-5 col-sm-2">
            <h4 class="name">Total</h4>
          </div>
          <div class="col-sm-3">
            <span>$ 123,456,789.00</span>
          </div>   
          <div class="col-sm-2">
            <button class="btn btn-red btn-lg btn-block"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Comprar</button>
          </div>   
        </div>

			</fieldset>
      <div class="col-sm-12">
        
      </div>
		</form>
  </section>    
</div>