    <div id="page-special-prices" class="right-side">
      <div class="content">
        <div class="row">
          <div class="col-xs-12">
            <section class="panel">
              <header class="panel-heading">
                <h3>Special Price</h3>
              </header>
              <div class="panel-body">
                <form id="" class="form-horizontal form-label-left" onsubmit="return validate()" data-validate>
                  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <div class="profile_img">
                      <div id="crop-avatar">
                        <!-- Current avatar -->
                        <div>
                          <img id="image-file" src="../img/200x200.png" alt="category" class="img-thumbnail">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                      <label class="btn btn-red btn-lg btn-block btn-upload" for="image"><i class="fa fa-cloud-upload"></i> Subir</label>
                      <input type="file" id="image" name="image" class="form-control col-md-7 col-sm-12 col-xs-12 btn" accept="image/jpg,image/png" data-image/>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12"> 
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="codigo">Código <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="codigo" name="codigo" class="form-control col-md-7 col-xs-12" value="{{codigo}}" data-required data-code/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="producto">Producto <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <select id="producto" name="producto" class="form-control col-md-7 col-xs-12" data-required>
                          <option value="">Seleccione</option>
                          <option value="1">ITM123-9</option>
                          <option value="2">PAN456-C</option>
                          <option value="3">BRA4854-Z</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="descuento">Descuento (%) <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="number" id="descuento" name="descuento" min="0" step="1" class="form-control col-md-7 col-xs-12" value="{{descuento}}" data-required data-integer/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="cantidad">Cantidad <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="number" id="cantidad" name="cantidad" min="0" step="1" class="form-control col-md-7 col-xs-12" value="{{cantidad}}" data-required data-integer/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="desde">Desde <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class='input-group date' id='datetimepickerdate_start'>
                          <input type="text" id="desde" name="desde" class="form-control col-md-7 col-xs-12" data-required data-datetime/>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="hasta">Hasta <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class='input-group date' id='datetimepickerdate_end'>
                          <input type="text" id="hasta" name="hasta" class="form-control col-md-7 col-xs-12" data-required data-datetime/>
                          <span class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="precio">Precio</label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="number" min="0" step="0.5" id="precio" name="precio" class="form-control col-md-7 col-xs-12" disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-show"><i class="fa fa-check"></i> Guardar</button>
                        <button type="button" class="btn btn-red"><i class="fa fa-ban"></i> Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
      <!--<div class="container-fluid" ></div>-->
    </div>
    <?php 
      require_once('views/footer.html');
    ?>
  <script src="../js/moment-with-locales.js"></script>
  <script src="../js/bootstrap-datetimepicker.js"></script>
  <script src="../js/scripts.js"></script>
</body>
</html>

