    <div id="page-categories">
      <div class="content">
        <div class="row">
          <div class="col-xs-12">
            <section id="login-page" class="container">  
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <h1>Panel de Control</h1>
                  <div class="jumbotron">
                    <div class="container">
                      <form method="post" role="form" onsubmit="return validateLogin()" data-validate-login>
                        <p>Ingrese sus credenciales</p>
                        <div class="form-group">
                          <label class="control-label">Usuario</label>
                          <div>
                            <input type="text" class="form-control" name="correo" data-required data-email/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Contraseña</label>
                          <div>
                            <input type="password" class="form-control" name="contrasena" data-required data-password/>
                          </div>
                        </div>
                        <div class="alert alert-success" role="alert">
                          <p>{{ERROR}}</p>
                        </div>
            
                        <button class="btn btn-red btn-lg btn-block" type="submit">
                          <i class="fa fa-check"></i> Enviar
                        </button>
                        <a href="https://www.facebook.com/" target="_blank" class="btn btn-lg btn-block btn-facebook"> 
                          <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="btn btn-lg btn-block btn-twitter">
                          <i class="fa fa-twitter"></i> Twitter
                        </a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>