    <div id="delete-item" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content alert alert-error">
          <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Eliminar descuento</h4>
          </div>
          <div class="modal-body">
            <h2 class="text-center"><i class="fa fa fa-trash fa-3x"></i></h2>
            <h3 class="text-center">El descuento será eliminado definitivamente.</h3>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-show" data-dismiss="modal"><i class="fa fa-check"></i> Aceptar</button>
            <button type="button" class="btn btn-red" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>
