    <?php 
      require_once('views/navigation.html');
    ?>
    <div id="page-users" class="right-side">
      <div class="content">
        <div class="row">
          <div class="col-xs-12">
            <section class="panel">
              <header class="panel-heading">
                <h3>Multimedia</h3>
                <div class="pull-right">
                  <ul class="files">
                    <li><button class="btn btn-skyblue" title="CVS"><i class="fa fa-file-text-o"></i></button></li>
                    <li><button class="btn btn-skyblue" title="Excel"><i class="fa fa-file-excel-o" ></i></button></li>
                    <li><button class="btn btn-skyblue" title="PDF"><i class="fa fa-file-pdf-o"></i></button></li>
                    <li><button class="btn btn-skyblue" title="Print"><i class="fa fa-print"></i></button></li>
                  </ul>
                </div>
              </header>
              <div class="panel-body">
                <table class="table table-bordered table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Article</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Video</th>
                      <th>Image</th>
                      <th>From</th>
                      <th>To</th>
                      <th class=" no-link last"><span class="nobr">Action</span></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Article</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Video</th>
                      <th>Image</th>
                      <th>From</th>
                      <th>To</th>
                      <th class=" no-link last"><span class="nobr">Action</span></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#"><i class="fa fa-eye"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="panel-body">
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#"><<</a></li>
                    <li><a href="#"><</a></li>
                    <li class="active">
                      <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">></a></li>
                    <li><a href="#">>></a></li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
            <!--<div class="container-fluid" ></div>-->
      </div>

        <?php 
          require_once('views/footer.html');
        ?>
</body>
</html>