    <div id="page-users" class="right-side">
      <div class="content">
        <div class="row">
          <div class="col-xs-12">
            <section class="panel">
              <header class="panel-heading">
                <h1>Producto</h1>
              </header>
              <div class="panel-body">
                <form method="post" class="form-horizontal form-label-left" onsubmit="return validate()" data-validate>
                  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">

                    <div class="profile_img">
                      <div id="crop-avatar">
                        <div>
                          <img id="image-file" src="../img/200x200.png" alt="producto" data-image>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-6 col-md-offset-3">
                        <label class="btn btn-red btn-lg btn-block btn-upload" for="image"><i class="fa fa-cloud-upload"></i> Subir</label></label>
                        <input type="file" id="image" name="image" class="form-control col-md-7 col-xs-12 btn" accept="image/jpg,image/png" data-image/>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="codigo">Código <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="codigo" name="codigo" class="form-control col-md-7 col-xs-12" data-required data-code value="{{codigo}}" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="modelo">Modelo <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="modelo" name="modelo" class="form-control col-md-7 col-xs-12" data-required data-code value="{{modelo}}"/>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-xs-6 hidden-xs" for="tallas">Tallas <span class="required">*</span></label>
                      <label class="control-label col-xs-6 hidden-xs" for="tallas">Strock <span class="required">*</span></label>
                      
                      <div class="col-xs-12">
                        <div class="form-group">
                          <div class="checkbox col-md-3 col-sm-6 col-xs-12">
                            <label>
                              <input type="checkbox" name="tallas" data-checked>{{talla}}
                            </label>
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" id="stock" name="stock" min="0" step="1" class="form-control col-md-7 col-xs-12" data-required data-integer value="{{stock}}"/>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12"> 
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="nombre">Nombre <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="nombre" name="nombre" class="form-control col-md-7 col-xs-12" data-required data-name value="{{nombre}}"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="categoria">Categoría <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <select id="categoria" name="categoria" class="form-control col-md-7 col-xs-12" data-required>
                          <option value="">Seleccione</option>
                          <option value="dama">Dama</option>
                          <option value="caballero">Caballero</option>
                          <option value="infantil">Infantil</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="subcategoria">Subcategoría <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <select id="subcategoria" name="subcategoria" class="form-control col-md-7 col-xs-12" data-required>
                          <option value="">Seleccione</option>
                          <option value="zapatilla">Zapatilla</option>
                          <option value="bota">Bota</option>
                          <option value="deportivo">Deportivo</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="descripcion">Descripcion
                      </label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                          <textarea id="descripcion" name="descripcion" class="form-control col-md-7 col-xs-12" rows="3"  data-required data-description>{{descripcion}}</textarea>
                      </div>
                    </div>
              
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="material">Material</label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="material" name="material" class="form-control col-md-7 col-xs-12" value="{{material}}"/>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="marca">Marca <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="marca" name="marca" class="form-control col-md-7 col-xs-12" data-required value="{{marca}}"/>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="altura">Altura</label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="number" id="altura" name="altura" class="form-control col-md-7 col-xs-12" value="{{altura}}"/>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="color">Color <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <select id="color" name="color" class="form-control col-md-7 col-xs-12" data-required>
                          <option value="">Seleccione</option>
                          <option value="dama">Negro</option>
                          <option value="caballero">Negro-plata</option>
                          <option value="infantil">Rojo</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-12 col-xs-12" for="precio">Precio <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="number" id="precio" name="precio" min="0" step="0.5" class="form-control col-md-7 col-xs-12" data-required data-money value="{{precio}}" />
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-show"><i class="fa fa-check"></i> Guardar</button>
                        <button type="button" class="btn btn-red"><i class="fa fa-ban"></i> Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>